*{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  margin 0
  padding 0
}
html{
  min-height 100%
}
body{
background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #b1c7c7, #4f647c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #b1c7c7, #4f647c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height 100%
padding: 100px 0 50px
}
